<%- include("partials/head") %>
<body>

    <!-- เรียกใช้ Navbar -->
    <%- include("partials/nav") %>

    <!-- เนื้อหาแต่ละหน้า -->
    <div class="content">
        <h2>WASD</h2>
        <p>This is the home page.</p>
    </div>

    <%- include("partials/script") %>

</body>
</html>
