/* Nav bar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* ให้แน่ใจว่าอยู่เหนือทุกองค์ประกอบ */
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

/* Sidebar Expanded */
.sidebar.expanded {
  width: 250px;
}

/* ใช้ !important เพื่อให้ CSS ถูกใช้อย่างแน่นอน */
.sidebar.expanded .menu li i {
  margin-right: 15px;
}


/* Menu */
.menu {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu li {
  position: relative;
  width: 100%;
  list-style: none;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: #343a40;
  font-size: 18px;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

/* Icon */
.menu li i {
  font-size: 24px;
}

/* Hide text when collapsed */
.sidebar:not(.expanded) .menu li a span {
  display: none;
}

/* Active Highlight Effect */
.menu .highlight {
  position: absolute;
  width: 80%;
  height: 60px;
  background-color: #1e75fd;
  border-radius: 20px;
  transition: all 0.3s ease;
  z-index: 1;
  left: 10%;
}
